:root {
    --black: black;
    --darkgrey: #6b6666;
    --darkergrey: #1a1818;
    --turqoise: rgb(91, 180, 180);
}
* {
    margin: 0;
    padding: 0;
}


/* Header Sectiob*/

Header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: var(--black);
    list-style: none;
    height: 150px;

}
header nav {
    display: flex;
    
}
.link {
    padding: 20px;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.link:hover {
    color: rgb(91, 180, 180);
}

/* Footer Section*/
footer {
 
    margin: auto;
    text-align: center;
    background-color: var(--black);
}
footer p {
    color: white;
    font-size: 15px;
}

Footer a {
    color: white;
}
Footer a:hover {
    color: rgb(123, 218, 218)
}


/* Landing Section */
.Landing {
    background-color: var(--black);
}
.homepic{
    height: 550px;
    width: 100%;
}


/* About Section */
.about {
    background-color: black;
    height: 500px;
    padding: 20px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
h2 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(187, 171, 171);
    padding: 20px;
}

.aboutImg {
    height: 200px;
    width: 220px;
    border: 2px solid aqua; 
    border-radius: 50%; 
    transition: 1.5s; 
}
.aboutImg:hover {
    transform: scale(1.3);
}
.description {
    display: flex;
}
.description p {
    padding: 20px;
    font-size: 20px;
    color: #776e6e;
}

/* Contact Section*/

section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 540px;
    
}
section div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    height: 350px;
    width: 400px;
    border: 1.5px solid rgb(123, 218, 218);
    border-radius: 20px;
    text-align: center;  
    font-size: 30px;
    color: white;  
    background-color: var(--darkergrey);


}

input {
    margin: 20px;
    height: 50px;
    border: 1.5px solid rgb(123, 218, 218);
    border-radius: 10px;
}
input, .messageBox::placeholder {
    text-align: center;
}
.messageBox{
    height: 100px;
    margin: 20px;
    border: 1.5px solid rgb(123, 218, 218);
    border-radius: 10px;


}
.btnContact { 
    border-radius: 10px;
    border: 1.5px solid grey;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}
.btnContact:hover {
    background-color: rgb(123, 218, 218) ;
}
section div a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
section div a:hover {
    color: rgb(91, 180, 180);  
}



/* Stack Section*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 525px;
    background-color: black;
    
}
.card {
    margin: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 2px 6px darkgrey;
    transition: 2s;
    background-color: var(--darkergrey);

}
.card:hover {
    transform: scale(1.2);

}
.card li {
    list-style: none;
    padding: 15px;
    text-align: center;
    color: white;
}
.listHeader {
    font-size: 25px;
    text-decoration-line: underline;
}

/* Portfolio Section*/

.mainPort{
  
    height: 600vh;
    background-color: black;
    padding: 20px;

}
.info{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 2px 6px darkgrey;
    height: auto;
    margin: 25px;  
    background-color: var(--darkergrey);
    
    
}


.info h3, p, a {
    padding: 10px;
    
}
.info h3 {
    font-size: 25px;
    color: white;
    text-decoration-line: underline;
    padding: 20px;


}
.info p{
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;

    
}
.info a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    padding: 20px;

    
}
.info a:hover {
    color: rgb(91, 180, 180);


}
.img{
    margin: 20px;
    height: 250px;
    width: 350px;
}

/* Media Query - mobile styles*/
@media (max-width:768px) {
        /* header section */
        header{
            display: flex;
            justify-content: center;
        }
        header nav {
            display: flex;
            flex-wrap: wrap;
        }
    /* about section */
    
    .about{
        height: 200vh;
    }
    .content {
        flex-direction: column;
        height: 130vh;
        margin: 20px;
    }
    /*portfolio*/
    .mainPort{
        padding: 20px;
        height: 650vh;
    }
    .eachCard{
        flex-direction: column;
    }
    .container{
        flex-direction: column;
        height: 180vh;

    }
    section {
        flex-direction: column;
        height: 180vh;
    }
    section div {
        flex-direction: column;
        
    }
    .img{
        width: 270px;
    }
}

@media (max-width:360px) {
    /* header section */
    header{
        display: flex;
        justify-content: center;
    }
    header nav {
        display: flex;
        flex-wrap: wrap;
    }
    /*About Section */
    .about{
        height: 200vh;
    }
    .content {
        flex-direction: column;
        height: 150vh;
        margin: 20px;
    }
    /*portfolio Section */
    .mainPort{
        padding: 20px;
        height: 700vh;
    }
    .eachCard{
        flex-direction: column;
    }
    .img{
        width: 200px;
    }
    /* Stack section */
    .container{
        flex-direction: column;
        height: 180vh;

    }
    /*contact section*/
    section {
        flex-direction: column;
        height: 180vh;
    }
    section div {
        flex-direction: column;
        width: 300px;
        
    }
    .homepic{
        height: 450px;
        width: 100%;
    }
    

}
@media (max-width:320px) {
    /*Header Section*/
        header {
            height: 170px;
        }
    
        .link {
            padding: 10px;
            font-size: 15px;
        }
    
        /*Portfolio Section*/
        .mainPort {
            height: 750vh;
        }
    
        .img {
            width: 160px;
        }
    
        /*Stack Section*/
        .card {
            width: 240px;
        }
    
        /*Contact Section*/
        section div {
            flex-direction: column;
            width: 250px;
    
        }
    
        /*landing*/
        .homepic {
            height: 600px;
            width: 100%;
        }
    
}


    
